.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
__MACOSX
Nancy Rodriguez/Seance1-20201009/tp1.zip
Nancy Rodriguez/Seance2-20201106/Cours/seance2-partie1.mp4
Nancy Rodriguez/Seance2-20201106/Cours/seance2-Partie2.mp4
Nancy Rodriguez/Seance2-20201106/Seance2-20201106.zip
Nancy Rodriguez/Seance2-20201106/TP/tp2-ressources.zip
Nancy Rodriguez/Seance1-20201009/Prog3D-Seance1-20201009.zip
Nancy Rodriguez/Seance1-20201009/tp1/Archive.zip
