exportPattern("^[[:alpha:]]+")
import(leaflet)
import(sf)
import(units)
import(osmdata)
import(treemap)
import(d3treeR)
import(collapsibleTree)
import(waffle)
import(grid)
import(gridExtra)
import(ggplot2)
import(tidyverse)
import(extrafont)
import(tm)
import(SnowballC)
import(wordcloud)
import(RColorBrewer)
import(FactoMineR)
import(factoextra)
import(scales)
import(cowplot)
import(lubridate)
import(WDI)
import(rworldmap)
import(ggrepel)
import(readxl)
